<div class="hero"> 
  <div class="hero__title"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  
<div class="container">
  <div class="container-main">
  <div class="title-main"><img src="Images/git title.png" width="50%"></div>
  <p class="motto">Meet Your Instant Github Resume</p>
   <div class="input-main"> 
  <label for="" class="username">Username</label><br>
  <input type="text" name="Name" placeholder="Enter Github Username" id="username" class="form-control" />
  <br>
  <div class="btn-div">
  <a
    href=""
    onclick="this.href='/generate/' + document.getElementById('username').value"
  ><button class="btn">Generate</button></a>
  </div>
</div>
</div>
</div>
</div>