<div>

  <label for="">Username</label>
  <input type="text" name="Name" id="username" class="form-control" />

  <a
    href=""
    onclick="this.href='/generate/' + document.getElementById('username').value"
  >Generate</a>

</div>