*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
}
body{
    background: #1e1e26;
    color: #fff
}
.title-name {
    text-align: center;
    margin-top: 10px;
}
.r-main{
    margin-top:3%;
}

.r-container{
    width: 100%;
    min-height:100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.r-navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.r-navbar-2{
    margin-left: 15%;
}
.r-logo{
    width: 80px;
    margin: 30px 0;
}
.r-btn{
    color: #1e1e26;
    border: 0;
    width: 22vw;
    height: 3vh;
    font-family: helvetica;
    font-size: 9px;
    border-radius: 40px;
    background: white;
    margin-left: 0;
    cursor: pointer;
  }
  
.r-btn:hover{
    color: white;
    border: solid 1px white;
    background: #1e1e26;
    
  }


.top-left{
    width:100%;
    float: left;
    font-size: 18px;
}
.top-right{
    width:50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-1{
    margin-top: 3%;
}
.top-2{
    float: left;
    width: 100%;
}
.r-repo{
    width: 100%;
    float: left;
}
.r-contributions{
    float: left;
    width: 100%;
}
.r-organisation{
    float: left;
    width: 100%;
}
footer{
    float: left;
}

.photo{
    width: 100%;
    border-radius: 50%;
}

.r-heading{
    font-size: 26px;
    margin-top: 20px;
}
.lang-list{
    font-size: 10px;
}
.r-footer{
    font-size: 20px;
    margin-top: 3%;
}

.r-content-list{
    font-size:10px;
}
.user-d{
    font-size:15px
}